<!DOCTYPE html>
<html>
<head>
    <title>Turtleback Zoo</title>
</head>
<body>
    <h1>Database Management App</h1>
    <div><a href="/select_record_page">View Record</a></div>
    <div><a href="/select_table">Enter Data</a></div>
    <div><a href="/select_record_to_modify">Modify data</a></div>
    <div><a href="/read">Animal</a></div>
    <div><a href="/read_hourlyrate">Hourly Rate</a></div>
    <div><a href="/read_building">Building</a></div>
    <div><a href="/read_revenuetype">Revenue Type</a></div>
    <div><a href="/read_employee">Employee</a></div>
    <div><a href="/read_animalcarespecialist">Animal Care Specialist</a></div>
    <div><a href="/read_species">Species</a></div>
    <div><a href="/read_caresfor">Cares For</a></div>
    <div><a href="/read_enclosure">Enclosure</a></div>
    <div><a href="/read_revenueevents">Revenue Events</a></div>
    <div><a href="/read_veterinarian">Veterinarian</a></div>
    <div><a href="/daily_revenue_report">Daily Revenue report</a></div>
    <div><a href="/animal_population_report">Animal Population Report</a></div>
    <div><a href="/top_attractions">Top Attractions</a></div>
    <div><a href="/best_revenue_days">Best Revenue Days</a></div>
    <div><a href="/average_revenue">Average Revenue</a></div>
</body>
</html>
